!!!
%html(lang="en-us" dir="ltr")
  %head
    %meta(charset="utf-8")/
    %meta(name="viewport" content="width=device-width, initial-scale=1.0")/
    %title Filestore
  %body
    %h1<
      henlo this is my&nbsp;
      %small(style="font-size: 0.4em")>f
      app
    %p here is the table my sql query got:
    %ul
      - @records.each do |record|
        %li<
          &= record.inspect
    %p<
      %small pls subscribe for moar

